<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-lg-3"><i class="fa-solid fa-shop-lock fa-5x"></i></h1>
      <p>Vous avez un compte ?</p>
        <a href="/users/login" class="mb-2 btn btn-outline-info btn-block">Se connecter</a>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Creer un compte</a>
    </div>
  </div>
</div>